/*********************************************SIGN UP FORM****************************************************************/


/*sign-up-form body*/

button#sign-up-button {
    border: 2mm ridge rgba(98, 19, 39, 0.7);
    border-radius: 50px;
    margin-top: 2%;
    margin-left: 2%;
}

form#sign-up-form {
    color: gray;
    margin-top: 10%;
    text-align: center;
}

.sign-up-form {
    background-color: #FFFFFF;
    margin: 7em auto;
    border-radius: 1.5em;
    background-color: rgb(255, 255, 255, .9);
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.40);
    width: 50%;
    height: 70%;
    margin: 10 auto;
    top: 15%;
    padding: 10px;
    position: relative;
}

#title {
    border-style: none;
    position: absolute;
    margin-top: -300px;
    margin-left: -349px;
    z-index: -1;
}


/*********************************************LOGIN PAGE****************************************************************/


/*login page*/

body.login-page {
    content: "";
    background: url("https://i.redd.it/mbyvaakci2k51.jpg") no-repeat fixed center;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
}


/*login form title*/

p.log-in-title {
    padding-top: 1px;
    color: rgb(169, 164, 172);
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
    font-family: 'Ubuntu', sans-serif;
}


/*login form div*/

#form-div {
    background-color: #FFFFFF;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    width: 20%;
    height: 40%;
    margin: 10 auto;
    top: 200px;
    padding: 10px;
    position: relative;
    border: 2mm ridge rgba(98, 19, 39, 0.8);
    border-radius: 50px;
}


/*login form body*/

form#login-form {
    color: gray;
    margin-top: 5px;
    text-align: center;
    padding-top: 20px;
}


/*login form input*/

input {
    margin-bottom: 10%;
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

input:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
}


/*********************************************LOGOUT PAGE****************************************************************/


/*Login Button*/

#login-button {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, rgb(225, 225, 230), rgb(172, 165, 165));
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0);
}


/*Sign Up & Log Out*/

.menu-button {
    position: absolute;
    right: 90%;
    left: 1%;
    top: 1%;
}


/*********************************************CHARACTER SHOW****************************************************************/


/*character show image*/

#button-leave {
    position: absolute;
    left: 3%;
    right: 91%;
    top: 2%;
    border: 2mm ridge rgba(98, 19, 39, 0.6);
    border-radius: 50px;
    width: 110px;
}

#hover-char-name {
    z-index: 1;
    color: maroon;
    position: fixed;
    left: 40%;
    width: 350px;
    top: 5%;
    font-size: 20px;
    background-color: rgba(255, 255, 255, .55);
    border-radius: 90px;
    block-size: 50px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    text-shadow: -1px 0 maroon, 0 1px maroon, 1px 0 maroon, 0 -1px maroon;
}

#dialogue-prompt {
    position: fixed !important;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    border: 2mm ridge rgba(98, 19, 39, 0.6);
    border-radius: 10px;
    background-color: rgb(184, 140, 185);
    top: 10%;
    /* right: 70%; */
    left: 12%;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    height: 130px;
    width: 380px;
    font-size: 17px;
}

#gift-offer-options {
    position: sticky;
    left: 5%;
    right: 30%;
    width: 300px;
    height: 5%;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(184, 140, 185);
    border: 2mm ridge rgba(98, 19, 39, 0.6);
    border-radius: 150px;
    margin: 20px;
}


/*"I have somethingfor you.."*/

#give-gift-option {
    position: sticky;
    left: 5%;
    right: 30%;
    width: 300px;
    height: 5%;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(184, 140, 185);
    border: 2mm ridge rgba(98, 19, 39, 0.6);
    border-radius: 150px;
    margin: 20px;
    padding: 10px;
}

img.character-image-show {
    height: 80%;
    margin-left: 40%;
    margin-right: 50%;
    margin-top: 15%;
}

#dialogue-prompt {
    position: fixed !important;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    border: 2mm ridge rgba(98, 19, 39, 0.6);
    border-radius: 10px;
    background-color: rgb(184, 140, 185);
    top: 10%;
    right: 55%;
    left: 12%;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    height: 130px;
    width: 380px;
}

#dialogue-container {
    position: fixed;
    top: 30%;
    left: 10%;
    font-family: 'Ubuntu', sans-serif;
}

#dialogue-options {
    font-family: 'Ubuntu', sans-serif;
    position: sticky;
    width: 400px;
    height: 65px;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(184, 140, 185);
    border: 2mm ridge rgba(98, 19, 39, 0.6);
    border-radius: 150px;
    margin: 20px;
    /* justify-content: center; */
    padding: 2%;
}

#goodbye-text-div {
    position: fixed !important;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    /* border: 5px solid black; */
    border: 2mm ridge rgba(98, 19, 39, 0.6);
    border-radius: 10px;
    width: 250px;
    text-align: center;
    background-color: rgb(184, 140, 185);
    top: 20%;
    left: 11%;
    padding: 10px;
}


/*character show body*/

body.character-show {
    content: "";
    background: url("https://i.imgur.com/7rwTDkh.png") no-repeat fixed center;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
}


/*logout*/

body.logout {
    content: "";
    background: url("https://i.redd.it/mbyvaakci2k51.jpg") no-repeat fixed center;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
}


/*********************************************CHARACTER INDEX****************************************************************/


/*background character index*/

body.character-index {
    margin: 0 auto;
}


/*background image character index*/

.character-index::before {
    content: "";
    background: url("https://i.redd.it/4xhhmdv23r511.jpg") no-repeat fixed center;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
}

#charImg0 {
    height: 65%;
    position: absolute;
    top: 35%;
    left: 0%;
    z-index: 1;
}

#charImg1 {
    height: 30%;
    position: absolute;
    left: 25%;
    top: 40%;
}

#charImg2 {
    height: 20%;
    position: absolute;
    top: 40%;
    left: 40%;
}

#charImg3 {
    height: 50%;
    position: absolute;
    left: 60%;
    top: 40%;
}

#charImg4 {
    height: 75%;
    position: absolute;
    left: 80%;
    top: 27%;
}

#charImg5 {
    height: 17%;
    position: absolute;
    left: 60%;
    top: 45%;
}

#charImg6 {
    left: 50%;
    height: 45%;
    position: absolute;
    top: 45%;
}

#charImg7 {
    left: 20%;
    height: 33%;
    position: absolute;
    top: 40%;
}

.character-img-index-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

main {
    width: 100%;
    height: 90%;
}


/*********************************************USER SHOW PAGE********************************************************************/


/*user show page*/

body.user-show {
    /* background: url("https://i.redd.it/mbyvaakci2k51.jpg") no-repeat fixed center; */
    /* background: url("https://i.imgur.com/eNdOujw.png") no-repeat fixed center; */
    background: url("https://i.imgur.com/ZpU8pn0.jpg") no-repeat fixed center;
    /* background: rgb(128, 33, 129); */
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
}


/*user profile photo*/

.user-show-picture {
    height: 150px;
    border-radius: 50%;
    margin-left: 50px;
    border: 2mm ridge rgba(98, 19, 39);
}

.user-button-pic {
    width: 40px;
    border-radius: 30px;
    margin-left: -10px;
    margin-top: -10px;
}


/*user show relationships: main*/

#log-out-button {
    position: absolute;
    left: 91%;
    right: 3%;
    top: 2%;
    border: 2mm ridge rgba(98, 19, 39, 0.8);
    border-radius: 50px;
    width: 110px;
}

#user-show-button {
    position: absolute;
    right: 91%;
    left: 3%;
    top: 2%;
    border: 2mm ridge rgba(98, 19, 39, 0.9);
    width: 100px;
    padding-right: 20px;
    align-content: center;
    border-radius: 80px;
    padding-top: 8px;
    height: 50px;
}

#relationships-title-div {
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    left: 10%;
    top: 33%;
    right: 30%;
    color: rgb(36, 3, 3);
    z-index: 1;
}


/*meet new people button*/

#meet-new-peopole {
    position: absolute;
    left: 5%;
    top: 20%;
    border: 2mm ridge rgba(98, 19, 39);
    border-radius: 50px;
}

#relationships-container {
    position: absolute;
    left: 45%;
    top: 1%;
    right: 40%;
}


/*character pics*/

#relationship-pic {
    left: 35;
    height: 180px;
    position: sticky;
}

#relationship-div {
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    left: 85%;
    right: 0%;
    width: 300px;
    height: 70px;
    /* border: 5px solid black; */
    text-align: center;
    vertical-align: middle;
    background-color: rgb(184, 140, 185);
    border: 4mm ridge rgba(98, 19, 39);
    border-radius: 150px;
}

div#relationship-pic {
    margin-left: 60px;
    width: 150px;
    /* width of container */
    height: 100px;
    /* height of container */
    overflow: hidden;
    /* border: 5px solid black; */
    border: 4mm ridge rgba(98, 19, 39, 0.6);
    border-radius: 50px;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT-3rzKiSz5BZEo9n8_C3Jvhj0KWGMhB4ROBA&usqp=CAU");
}


/* social energy & get a gift*/

#currency-display {
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    /* border: 5px solid black; */
    border: 4mm ridge rgba(98, 19, 39, 0.6);
    border-radius: 50px;
    background-color: rgb(184, 140, 185);
    top: 30%;
    right: 55%;
    bottom: 30%;
    left: 1%;
    text-align: center;
    padding-top: 50px;
    padding-left: 20px;
}


/* Gifts*/

#inventory-container {
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    border: 4mm ridge rgba(98, 19, 39, 0.6);
    border-radius: 50px;
    top: 70%;
    right: 55%;
    bottom: 0%;
    left: 1%;
    height: 30%;
    text-align: center;
    background-color: rgb(184, 140, 185);
    padding: 10px;
}


/*gift photos*/

#gift_div {
    width: 100px;
    position: sticky;
}

img#gift_div {
    filter: drop-shadow(2px 4px 6px black);
}