form#sign-up-form {
    color: gray;
    margin-top: 10%;
    text-align: center;
}

form#login-form {
    color: gray;
    margin-top: 10%;
    text-align: center;
}

input {
    margin-bottom: 1%;
}

.menu-button {
    float: right;
}

#form-div {
    width: 200px;
    height: auto;
    margin: 10 auto;
    padding: 10px;
    position: relative;
    border: thick double blue;
    color: whitesmoke;
}

img {
    height: 80%;
}